<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1>Geolocation</h1>
  <ion-list>
    <ion-card *ngFor="let coordinate of coordinates">
        <ion-card-header>
          <ion-card-subtitle>GET COORDINATES</ion-card-subtitle>
          <ion-card-title>Geolocation</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          Latitude: {{ coordinate?.latitude }} <br>
          Longitude: {{ coordinate?.longitude }} <br>
          Accuracy: {{ coordinate?.accuracy }}m
        </ion-card-content>
      </ion-card>
  </ion-list>

  <ion-button expand="block" (click)="locate()">Locate</ion-button>

</ion-content>
